body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
canvas {
    border: 4px solid #fff;
    background-color: #87CEEB; /* Sky Blue */
}